div(data-ng-init='init()')
  h1.topchat-status.text-center(data-ng-if="status")
    i.fa.fa-spin.fa-star.logo-star
    = ' '
    span {{status}}

div.row-fluid.text-right(data-ng-if="!status",style='margin-bottom:20px;')
  button.btn.btn-default.btn-info
    i.fa.fa-star
    = ' '
    = t('Criar Imagem')

  button.btn.btn-default(data-ng-class="settings.share ? 'active' : null", data-ng-click="settings.share = !settings.share")
    i.fa(data-ng-class="settings.share ? 'fa-check' : 'fa-times'")
    = ' '
    = t('Compartilhar')

  div.btn-group
    button.btn.btn-default(data-ng-class="settings.tag ? 'active' : null", data-ng-click="settings.tag = !settings.tag")
      i.fa(data-ng-class="settings.tag ? 'fa-check' : 'fa-times'")
      = ' '
      = t('Marcar Amigos')

    button.btn.btn-default(title='Escolher amigos que serão marcados',sch-tooltip,sch-tooltip-placement='bottom',data-ng-if="settings.tag")
      i.fa.fa-cog
      = ' '

div.row(data-ng-if="!status")
  div.col-md-3.col-sm-4.col-xs-6(data-ng-repeat='thread in threads', data-ng-click='thread.removed = !(thread.removed || false)')
    div.top-user-box-overlay(data-ng-if="thread.removed")
      btn.btn.btn-default.btn-xs Desfazer
    div.top-user-box(style='width:100%',data-ng-class="thread.removed ? 'blurred' : null")
      div.row-fluid
        div.top-user-box-img.col-xs-3
          img.top-user-box-img(data-ng-src="{{'http://graph.facebook.com/' + thread.participant.id + '/picture'}}")
        div.top-user-box-info.col-xs-9
          span.top-user-box-name {{thread.participant.name}}
          span.top-user-box-count {{pf(thread.message_count, ':i: mensagem', ':i: mensagens', '')}}
        div.clearfix

//pre {{threads | json}}
